<a href="https://colab.research.google.com/github/jamesBaker361/colab/blob/master/python2gross.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

In [0]:
series_obj=Series(np.arange(8),index=["a","b","c","d","e","f","g","h"])

In [5]:
series_obj["a"]

0

In [6]:
series_obj[3]

3

In [0]:
np.random.seed(25)

In [0]:
DF_obj=DataFrame(np.random.rand(36).reshape(6,6),index=["alpha","epsilon","pi","sigma","delta","tau"],
                columns=["james","abby","carlitos","david","bella","goropius"])

In [16]:
DF_obj

            james      abby  carlitos     david     bella  goropius
alpha    0.245986  0.626783  0.377250  0.063457  0.373199  0.074116
epsilon  0.044442  0.293012  0.754543  0.953247  0.588749  0.987940
pi       0.198074  0.042969  0.383704  0.780941  0.763117  0.864242
sigma    0.537240  0.526677  0.815957  0.129121  0.720280  0.066831
delta    0.015341  0.546204  0.092189  0.171704  0.333604  0.116719
tau      0.562587  0.410931  0.285842  0.398147  0.427212  0.885826

In [17]:
DF_obj["carlitos"]

alpha      0.377250
epsilon    0.754543
pi         0.383704
sigma      0.815957
delta      0.092189
tau        0.285842
Name: carlitos, dtype: float64

In [18]:
DF_obj.ix[["pi","sigma"]]

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

          james      abby  carlitos     david     bella  goropius
pi     0.198074  0.042969  0.383704  0.780941  0.763117  0.864242
sigma  0.537240  0.526677  0.815957  0.129121  0.720280  0.066831

In [21]:
DF_obj.loc[["pi","sigma"],["carlitos"]]

       carlitos
pi     0.383704
sigma  0.815957

In [22]:
series_obj["b":"f"]

b    1
c    2
d    3
e    4
f    5
dtype: int64

In [24]:
DF_obj <.35

         james   abby  carlitos  david  bella  goropius
alpha     True  False     False   True  False      True
epsilon   True   True     False  False  False     False
pi        True   True     False  False  False     False
sigma    False  False     False   True  False      True
delta     True  False      True   True   True      True
tau      False  False      True  False  False     False

In [25]:
series_obj[series_obj<3]

a    0
b    1
c    2
dtype: int64

In [30]:
DF_obj[DF_obj.loc[["pi"]]<.5]

            james      abby  carlitos  david  bella  goropius
alpha         NaN       NaN       NaN    NaN    NaN       NaN
epsilon       NaN       NaN       NaN    NaN    NaN       NaN
pi       0.198074  0.042969  0.383704    NaN    NaN       NaN
sigma         NaN       NaN       NaN    NaN    NaN       NaN
delta         NaN       NaN       NaN    NaN    NaN       NaN
tau           NaN       NaN       NaN    NaN    NaN       NaN

In [0]:
series_obj["a","b","c"]=42

In [32]:
series_obj

a    42
b    42
c    42
d     3
e     4
f     5
g     6
h     7
dtype: int64

Video 2

In [0]:
missing=np.nan

In [0]:
series_obj=Series(["duck","duck",missing,"goose"])

In [36]:
series_obj

0     duck
1     duck
2      NaN
3    goose
dtype: object

In [37]:
series_obj.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [38]:
DF_obj

            james      abby  carlitos     david     bella  goropius
alpha    0.245986  0.626783  0.377250  0.063457  0.373199  0.074116
epsilon  0.044442  0.293012  0.754543  0.953247  0.588749  0.987940
pi       0.198074  0.042969  0.383704  0.780941  0.763117  0.864242
sigma    0.537240  0.526677  0.815957  0.129121  0.720280  0.066831
delta    0.015341  0.546204  0.092189  0.171704  0.333604  0.116719
tau      0.562587  0.410931  0.285842  0.398147  0.427212  0.885826

In [77]:
DF_obj.loc["epsilon":"sigma"][["abby","david"]]=missing

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python2.7/dist-packages/pandas/core/frame.py:3395: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.loc._setitem_with_indexer((slice(None), indexer), value)
/usr/local/lib/python2.7/dist-packages/pandas/core/frame.py:3367: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_array(key, value)

In [79]:
DF_obj.iloc[1:3][1,2,4]=missing

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
DF_obj.iloc[2:4,3:5]=missing

In [100]:
DF_obj

            james      abby  carlitos     david     bella  goropius
alpha    0.245986  0.626783  0.377250  0.063457  0.373199  0.074116
epsilon  0.044442       NaN  0.754543       NaN       NaN  0.987940
pi       0.198074       NaN  0.383704       NaN       NaN  0.864242
sigma    0.537240       NaN  0.815957       NaN       NaN  0.066831
delta    0.015341  0.546204  0.092189  0.171704  0.333604  0.116719
tau      0.562587  0.410931  0.285842  0.398147  0.427212  0.885826

In [0]:
filled=DF_obj.fillna(0)

In [102]:
filled

            james      abby  carlitos     david     bella  goropius
alpha    0.245986  0.626783  0.377250  0.063457  0.373199  0.074116
epsilon  0.044442  0.000000  0.754543  0.000000  0.000000  0.987940
pi       0.198074  0.000000  0.383704  0.000000  0.000000  0.864242
sigma    0.537240  0.000000  0.815957  0.000000  0.000000  0.066831
delta    0.015341  0.546204  0.092189  0.171704  0.333604  0.116719
tau      0.562587  0.410931  0.285842  0.398147  0.427212  0.885826

In [116]:
filled2=DF_obj.fillna({1:2,"abby":20,2:3})
filled2

            james       abby  carlitos     david     bella  goropius
alpha    0.245986   0.626783  0.377250  0.063457  0.373199  0.074116
epsilon  0.044442  20.000000  0.754543       NaN       NaN  0.987940
pi       0.198074  20.000000  0.383704       NaN       NaN  0.864242
sigma    0.537240  20.000000  0.815957       NaN       NaN  0.066831
delta    0.015341   0.546204  0.092189  0.171704  0.333604  0.116719
tau      0.562587   0.410931  0.285842  0.398147  0.427212  0.885826

In [107]:
filled2

            james      abby  carlitos     david     bella  goropius
alpha    0.245986  0.626783  0.377250  0.063457  0.373199  0.074116
epsilon  0.044442       NaN  0.754543       NaN       NaN  0.987940
pi       0.198074       NaN  0.383704       NaN       NaN  0.864242
sigma    0.537240       NaN  0.815957       NaN       NaN  0.066831
delta    0.015341  0.546204  0.092189  0.171704  0.333604  0.116719
tau      0.562587  0.410931  0.285842  0.398147  0.427212  0.885826

In [0]:
filled3=DF_obj.fillna(method="ffill")

In [118]:
filled3

            james      abby  carlitos     david     bella  goropius
alpha    0.245986  0.626783  0.377250  0.063457  0.373199  0.074116
epsilon  0.044442  0.626783  0.754543  0.063457  0.373199  0.987940
pi       0.198074  0.626783  0.383704  0.063457  0.373199  0.864242
sigma    0.537240  0.626783  0.815957  0.063457  0.373199  0.066831
delta    0.015341  0.546204  0.092189  0.171704  0.333604  0.116719
tau      0.562587  0.410931  0.285842  0.398147  0.427212  0.885826

In [0]:
DF_obj=DataFrame(np.random.rand(36).reshape(6,6),index=["alpha","epsilon","pi","sigma","delta","tau"],
                columns=["james","abby","carlitos","david","bella","goropius"])

In [0]:
DF_obj.loc["epsilon":"delta","carlitos":"bella"]=missing

In [121]:
DF_obj

            james      abby  carlitos     david     bella  goropius
alpha    0.437051  0.617060  0.055321  0.928544  0.757259  0.975881
epsilon  0.251659  0.968149       NaN       NaN       NaN  0.605039
pi       0.059525  0.362887       NaN       NaN       NaN  0.451459
sigma    0.863190  0.529924       NaN       NaN       NaN  0.260322
delta    0.424988  0.892367       NaN       NaN       NaN  0.162011
tau      0.948836  0.470992  0.819737  0.070855  0.106414  0.507698

In [122]:
DF_obj.isnull().sum()

james       0
abby        0
carlitos    4
david       4
bella       4
goropius    0
dtype: int64

In [0]:
DF_no = DF_obj.dropna(axis=1)

In [133]:
DF_no

            james      abby  goropius
alpha    0.437051  0.617060  0.975881
epsilon  0.251659  0.968149  0.605039
pi       0.059525  0.362887  0.451459
sigma    0.863190  0.529924  0.260322
delta    0.424988  0.892367  0.162011
tau      0.948836  0.470992  0.507698

In [134]:
DF_no = DF_obj.dropna(how="all")
DF_no

            james      abby  carlitos     david     bella  goropius
alpha    0.437051  0.617060  0.055321  0.928544  0.757259  0.975881
epsilon  0.251659  0.968149       NaN       NaN       NaN  0.605039
pi       0.059525  0.362887       NaN       NaN       NaN  0.451459
sigma    0.863190  0.529924       NaN       NaN       NaN  0.260322
delta    0.424988  0.892367       NaN       NaN       NaN  0.162011
tau      0.948836  0.470992  0.819737  0.070855  0.106414  0.507698

In [0]:
DF_obj.loc["alpha":"tau","james"]=missing

In [138]:
DF_obj

         james      abby  carlitos     david     bella  goropius
alpha      NaN  0.617060  0.055321  0.928544  0.757259  0.975881
epsilon    NaN  0.968149       NaN       NaN       NaN  0.605039
pi         NaN  0.362887       NaN       NaN       NaN  0.451459
sigma      NaN  0.529924       NaN       NaN       NaN  0.260322
delta      NaN  0.892367       NaN       NaN       NaN  0.162011
tau        NaN  0.470992  0.819737  0.070855  0.106414  0.507698

In [140]:
DF_no = DF_obj.dropna(how="all",axis=1)
DF_no

             abby  carlitos     david     bella  goropius
alpha    0.617060  0.055321  0.928544  0.757259  0.975881
epsilon  0.968149       NaN       NaN       NaN  0.605039
pi       0.362887       NaN       NaN       NaN  0.451459
sigma    0.529924       NaN       NaN       NaN  0.260322
delta    0.892367       NaN       NaN       NaN  0.162011
tau      0.470992  0.819737  0.070855  0.106414  0.507698